*{
    margin:0;
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#page-wrapper{
    width: 80%;
    margin:0 auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #D9E8F5;
    color: #2A3B55
}

#container{
    display: flex;
    width :100%
}
nav{
    width: 30%;
    height: 100vh;
    background-color: #607D8B;
}

nav >ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: calc(2px + 2vw);
    margin: 0;
    padding: 0;
    height: 100%;
}

nav>ul>li{
    background-color:#F5F5F5 ;
    width: 90%;
    margin:auto; 
    /* centerized everything */
    text-align: center;
}


main{
    width : 70%;
    height:100vh;
    background-color: #FFE6D6;
}


#page {
    font-size: 3vw;
    text-align: center;
    margin:2vh 0;
    color:#34495E;
}
#title{
    font-size: calc(5px + 1.4vw);
}
.project{
    padding:10px;
}
/* .project> p{
    font-size: calc(2px + 1.4vw);
    margin: 2vh 0;
    color:#333333;
} */

.project > ul > li{
    font-size: calc(10px + 1vw);
    color:#333333;
}

.project h3{
    font-size: calc(15px + 1vw);
    color:#333333;
}
label{
    font-size:calc(1vw + 7px);
    background-color: #FFE6D6;
}

/* https://www.w3schools.com/howto/howto_css_round_buttons.asp */
button{
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 2px solid black;
    font-size: 20px;
}

input{
    font-size: calc(14px + 0.5vw);
    background-color: #FFFFFF;
    width:100%;
}


#calc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    gap:20px;
}

#answer{
    font-size: calc(14px + 0.5vw);
    background-color: white;
    border: 2px solid black;
    width:80%;
    height:30px;
}

#btn_op{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

#actualcalc{
    border: 2px solid black;
    padding:20px 10px 50px 10px;
    background-image: url(../src/calc_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
}

#inputs{
    display: flex;
    gap:10px;
    flex-wrap:wrap;
}
input{
    font-size: calc(0.5vw + 20px);
}

#result{
    font-size:calc(1vw + 7px);
    background-color: #FFE6D6;
    display: inline;
}

nav ul li a{
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    header{
        align-items: center;
    }
    nav{
        width: 100%;
        height: auto;
    }
    main{
        width:100%;
    }
    #container{
        flex-direction: column;
    }

    nav > ul {
        flex-direction: row;
        flex-wrap: wrap; /* so it can wrap around b/c no space https://www.w3schools.com/cssref/css3_pr_flex-wrap.php */
        justify-content: space-evenly; 
        gap: 10px; /* gap between flex items/*/
        padding:10px; /* area between the list and the actual border */
    }

    nav>ul>li{
        width:auto;
        font-size: calc(2vw + 4px);
        padding: 5px; /* expand the grey color*/
    }
    #page{
        font-size: calc(7px + 3vw);
    }
    .project p {
        font-size: calc(4px + 3vw);
    }

    #answer{
        width:100%;

    }
}