*{
    margin: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#page-wrapper{
    width: 80vw;
    margin: 0 auto;
/* 2 values = 1st= top & bottom, 2nd = left & right. auto = exnter  */
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #D9E8F5;
    color: #2A3B55
}


#container{
    display: flex;
    width :100%
}
nav{
    width: 30%;
    height: 100vh;
    background-color: #607D8B;
}

nav >ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: calc(2px + 2vw);
    margin: 0;
    padding: 0;
    height: 100%;
}

nav>ul>li{
    background-color:#F5F5F5 ;
    width: 90%;
    margin:auto; 
    /* centerized everything */
    text-align: center;
}

main{
    width : 70%;
    background-color: #FFE6D6;
}

.achieve{
    margin: 10px 0 10px 8px !important;
    padding:10px 10px 10px 4px;
    border-left: calc(0.1vw + 5px) solid black;
}

.achieve > h3{
    font-size: calc(10px + 1.3vw);
    color:#333333;
}
.achieve> ul>li{
    font-size: calc(10px + 1vw);
    margin: 2vh 0;
    color:#333333
}



#page {
    font-size: 3vw;
    text-align: center;
    margin:2vh 0;
    color:#34495E;
}

#img-wrapper{
    width: 40%;
}

#scholar-img{
    max-width : 100%;
    float:left;
    margin: 1vh 1vw;
}

@media screen and (max-width: 750px) {
    header{
        align-items: center;
    }
    nav{
        width: 100%;
        height: auto;
    }
    main{
        width:100%;
    }
    #container{
        flex-direction: column;
    }
    nav > ul {
        flex-direction: row;
        flex-wrap: wrap; /* so it can wrap around b/c no space https://www.w3schools.com/cssref/css3_pr_flex-wrap.php */
        justify-content: space-evenly; 
        gap: 10px; /* gap between flex items/*/
        padding:10px; /* area between the list and the actual border */
    }

    nav>ul>li{
        width:auto;
        font-size: calc(2vw + 4px);
        padding: 5px; /* expand the grey color*/
    }

   

    #page{
        font-size: calc(7px + 3vw);
    }

    .achieve p {
        font-size: calc(4px + 3vw);
    }
    #img-wrapper{
        width: 60%;
    }
}