*{
    margin:0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #F0F4F8;
}

#title{
    font-size: calc(3vw + 20px);
}
#page-wrapper{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #D9E8F5;
    color: #2A3B55
}

/* https://www.w3schools.com/howto/howto_css_round_buttons.asp */
button{
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 2px solid black;
    font-size: 20px;
}

input{
    font-size: calc(14px + 0.5vw);
    background-color: #FFFFFF;
}


#calc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    gap:20px;
}

#answer{
    font-size: calc(14px + 0.5vw);
    background-color: white;
    border: 2px solid black;
    width:310px;
    height:30px;
}

#btn_op{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

#actualcalc{
    border: 2px solid black;
    padding:20px 10px 100px 10px;
}

input{
    font-size: calc(0.5vw +20px);
}

#result{
    font-size:calc(1vw + 15px);
}
#container{
    display: flex;
    width :100%
}
nav{
    width: 30%;
    height: 100vh;
    background-color: #607D8B;
}

nav >ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: calc(2px + 2vw);
    margin: 0;
    padding: 0;
    height: 100%;
}

ul>li{
    background-color:#F5F5F5 ;
    width: 90%;
    margin:auto; 
    /* centerized everything */
    text-align: center;
}

main{
    width : 70%;
}

@media screen and (max-width: 750px) {
    nav{
        width: 100%;
        height: auto;
    }
    main{
        width:100%;
    }
    #container{
        flex-direction: column;
    }

    nav > ul {
        flex-direction: row;
        flex-wrap: wrap; /* so it can wrap around b/c no space https://www.w3schools.com/cssref/css3_pr_flex-wrap.php */
        justify-content: space-evenly; 
        gap: 10px; /* gap between flex items/*/
        padding:10px; /* area between the list and the actual border */
    }

    ul>li{
        width:auto;
        font-size: calc(2vw + 4px);
        padding: 5px; /* expand the grey color*/
    }


}